/******************************************** 
  リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}


.rating-contents.row {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100;
  height: calc(90vh);
  background-image: image-url('white_back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

}

.rating-container {
  width: 600px;
  height: 330px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: rgba(235, 255, 255, 0.3);
  box-sizing: border-box;
}

.rating-container input {
  width: 100%;
  height: 100%;
}

.rating-title {
  width: 100%;
}

.rating-text {
  display: flex;
  padding-left: 40px;
  padding-top: 10px;
}

.radio-num {
  padding-right: 70px;
}

.rating-submit {
  width: 20%;
  margin: auto;
  padding-top: 25px;
}

.genre-select {
  margin-top: 9px;
}

.rating-btn {
  padding-left: 20px;
}

.rating-post-text {
  color: rgb(0, 47, 255);
}