/******************************************** 
  リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

.top-page-header {
  
}

.search-bar-contents {
  width: 100;
  background-image: image-url('castle_floating.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: calc(110px);
  padding-top: 15px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  
  list-style: none;
  
}


.lists-left {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.lists-right {
  display: flex;
  list-style: none;
}

.title-name {
  color: antiquewhite;
}

.hp-name {
  padding-left: 30px;
}

.logout {
  color: antiquewhite;
  margin-right: 30px;
}

.login {
  color: antiquewhite;
  margin-right: 30px;
}

.sign-up {
  color: antiquewhite;
  margin-right: 30px;
}

.search-form {
  margin-right: 30px;
}

.a {
  text-decoration: none;
}
