/******************************************** 
  リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}


.search-bar-contents {
  background-color: rgb(244, 217, 181);
  height: calc(110px);
  padding-top: 15px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  
  list-style: none;
  
}


.lists-left {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.lists-right {
  display: flex;
  list-style: none;
}

.hp-name {
  padding-left: 30px;
}

.logout {
  color: #333333;
  margin-right: 30px;
}

.login {
  color: #333333;
  margin-right: 30px;
}

.sign-up {
  color: #333333;
  margin-right: 30px;
}

.search-form {
  margin-right: 30px;
}

.a {
  text-decoration: none;
}