<%# 下部タイトル入力打ち込み用 %>

<div class="footer-main">
  <div class="footer-form">
    <input class="form-title" placeholder= "type a title">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>