/******************************************** 
  リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}



.index-main {
  width: 100;
  background-image: image-url('white_back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: calc(100vh - 110px);
}

.post-game {
  // display: flex;
  justify-content: center;
}

.game {
  font-size: 24px;
  padding: 40px 0 0 20vw;
  display: flex;
  /* background-color: #3ccace; */
}

.index-title {
  margin-right: 190px;
  
}

.index-genre {
  margin-right: 190px;
  
}

.index-rating {
  /* margin-right: 10vw; */
  
}

.main-title-lists {
  height: calc(100%);
  padding-left: 20vw;
  padding-top: 10px;
  overflow: scroll;
}

.title-lists {
  display: flex;
  justify-content: flex-start;
  height: 25px;
  margin-top: 20px;
  
}

.title-list {
  width: 200px;
  font-size: 18px;
  word-wrap: break-word
}

.genre-list {
  font-size: 18px;
  padding-left: 114px;
}

a {
  text-decoration: none;
  color: rgb(21, 21, 21);
}

.post-btn {
  width: 120px;
  background: rgba(41, 41, 41, 0.2);;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.index-post-text {
  color: rgb(19, 18, 18);
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.btn-icon {
  width: 80%;
}