.index-main {
  font-size: 20px;
  background-color: rgb(235, 255, 255);
  height: calc(100vh - 200px);
  padding: 30px 0 0 20vw;
  overflow: scroll;
}


.game {
  display: flex;
}

.title {
  margin-right: 10vw;
}

.genre {
  margin-right: 10vw;
}

.title-lists {
  list-style: none;
}

.title-list {
  font-size: 2vh;
}

a {
  text-decoration: none;
  color: rgb(21, 21, 21);
}