.show-main {
  background-color: rgb(235, 255, 255);
  height: calc(100vh - 110px);
  overflow: scroll;
}

.title {
  font-size: 50px;
  padding: 30px 0 0 25vw;
}

.show-total {
  display: flex;
  justify-content: space-around;
  padding-right: 14.5vw;
  font-size: 24px;
}

.synopsis-text {
  width: 40%;
  padding-left: 19.3vw;
  word-wrap: break-word
}

.main-synopsis {
  margin: auto;
  width: 60vw;
  height: 40vh;
  /* background-color: #c2e3f6; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* box-shadow: 0 0 10px rgba(41, 41, 41, 0.2); */
}

.synopsis-evaluation {
  width: 30%;
}

.ratings {
  display: flex;
  padding: 15vh 0 0 19.5vw;
  font-size: 24px;
}

.footer-main {
  /* background-color: #DDDDDD; */
  height: 90px;
  padding: 20px 69vw;
  display: flex;
}

.footer-form {
  /* background-color: white; */
  display: flex;
  width: 30%;
  position: fixed;
  bottom: 32px;
  right: 32px;
}


.form-title {
  width: calc(100vw - 10vw);
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  display: flex;
  resize: none;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}