.index-main {
  font-size: 20px;
  background-color: rgb(235, 255, 255);
  height: calc(100vh - 200px);
  padding: 30px 0 0 20vw;
  overflow: scroll;
}

.main-games {
  
}

.game {
  display: flex;
}

.title {
  margin-right: 10vw;
}

.genre {
  margin-right: 10vw;
}

.rating {

}