<%= render "shared/header" %>

<div class="show-main">
  <div class="show-game">
    <div class="show-title">
      <div class="title">
        <%= @item.title %>
      </div>
    </div>
    <div class="show-total">
      <div class="synopsis">
        ゲーム内容
      </div>
      <div class="video">
        映像
      </div>
    </div>
    <div class="synopsis-text">
      <%= @item.text %>
    </div>
    <div class="ratings">
      <div class="rating">
        評価
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>